<div> 
    <h1 class="Titulo"> <b>Números primos </b> </h1> 
</div>

<div class="contenedor">
<div class="np" style="background-color:aliceblue;">2</div>
<div class="np" style="background-color:rgb(16, 214, 43);">3</div>
<div class="np" style="background-color:rgb(238, 11, 11);">5</div>
<div class="np" style="background-color:rgb(10, 132, 238);">7</div>
<div class="np" style="background-color:rgb(2, 17, 31);">11</div>
<div class="np" style="background-color:rgb(0, 255, 170);">13</div>
<div class="np" style="background-color:rgb(255, 0, 221);">17</div>
<div class="np" style="background-color:rgb(56, 67, 77);">19</div>
<div class="np" style="background-color:rgb(255, 0, 102);">23</div>
<div class="np" style="background-color:rgb(255, 255, 3);">29</div>
<div class="np" style="background-color:rgb(77, 95, 4);">31</div>
<div class="np" style="background-color:rgb(139, 201, 255);">37</div>
<div class="np" style="background-color:rgb(54, 2, 33);">41</div>
<div class="np" style="background-color:rgb(126, 136, 61);">43</div>
<div class="np" style="background-color:rgb(7, 41, 71);">47</div>
<div class="np" style="background-color:rgb(0, 0, 255);">53</div>
<div class="np" style="background-color:rgb(152, 158, 163);">59</div>
<div class="np" style="background-color:rgb(129, 247, 145);">61</div>
<div class="np" style="background-color:rgb(41, 95, 143);">67</div>
<div class="np" style="background-color:rgb(90, 23, 23);">71</div>
<div class="np" style="background-color:rgb(135, 60, 146)240, 255;">73</div>
<div class="np" style="background-color:rgb(255, 0, 68)240, 244;">79</div>
<div class="np" style="background-color:rgb(78, 16, 0)243, 240;">83</div>
<div class="np" style="background-color:rgb(102, 52, 10)51, 240;">89</div>
<div class="np" style="background-color:rgb(0, 0, 0)0, 255;">97</div>
</div>